/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* so we cna see entire canvas if shrunk view */
  max-width: 100%;
  max-height: 100%;
}

/* display none to hide images as we will draw them on JS */
#player {
  display: none;
}
